body{
    background: none repeat scroll 0 0 #FBFBFB;
    min-width: 1050px;
    color: #333333;
    font-family: calibri;
    font-size: 12px;
    line-height: 1.4em;
}

#login {
    margin: auto;
    padding: 114px 0 0;
    width: 320px;
}

.bodydiv{
	 min-width:1010px;	
}
#login h1 a, .logo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/relevo1.png");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 295px 80px;
    display: block;
    height: 60px;
    overflow: hidden;
    padding-bottom: 25px;
    text-indent: -9999px;
    width: 326px;
}

.widefat, div.updated, div.error, .wrap .add-new-h2, input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select, .tablenav .tablenav-pages a, .tablenav-pages span.current, #titlediv #title, .postbox, #postcustomstuff table, #postcustomstuff input, #postcustomstuff textarea, .imgedit-menu div, .plugin-update-tr .update-message, #poststuff .inside .the-tagcloud, .login form, #login_error, .login .message, #menu-management .menu-edit, .nav-menus-php .list-container, .menu-item-handle, .link-to-original, .nav-menus-php .major-publishing-actions .form-invalid, .press-this #message, #TB_window, .tbtitle, .highlight, .feature-filter, #widget-list .widget-top, .editwidget .widget-inside {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
   
}

.login form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    font-weight: normal;
    margin-left: 8px;
    padding: 26px 24px 46px;
}

.login label,#searchCR label{
    color: #777777;
    font-size: 14px;
}

.login * {
    margin: 0;
    padding: 0;
}
#searchCR input[type="text"]{
	background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: #555555;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
    margin-right: 35px;
    margin-top: 5px;
    outline: 0 none;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;	
}

#searchCR input[type="submit"]{
	margin-left:-33px;
	
	height: 31px;
	width: 35px;
	background: #f8f8f8; /* Old browsers */
	//background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
	//background: linear-gradient(top,  #cedce7 0%,#596a72 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
    //padding-top: 13px;
    border: 1px solid #c6c6c6;
}
#searchCR input[type="submit"]:hover{
//-moz-box-shadow:    0px 3px 5px 6px #ccc;
  	//-webkit-box-shadow: 0px 3px 5px 6px #ccc;
  	-moz-transition: all 0s ease 0s;
  	box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.login form .input, .login input[type="text"] {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: #555555;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    //width: 100%;
}

input.button-primary, button.button-primary, a.button-primary {
    background: #FC7C00;
    border-color: #FC5000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.login .button-primary {
    float: right;
    font-size: 13px !important;
    line-height: 13px;
    padding: 3px 10px;
}

.login #nav a {
    color: #21759B !important;
}

.login form .forgetmenot label {
    font-size: 12px;
    line-height: 12px;
}

.circular{
	border-radius: 15px;
	//border-left-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#page-header{
	background-color:#FBFBFB;//#D2D2D2; //#25799e;
	width: 100%;
	height: 120px;
	border-bottom: solid 2px black;
}

.page-footer{
	position:fixed;
	bottom:0px;
	width:100%;
	border-top: solid 2px black;
	height:35px;
}

#crCustom{
	float: right; 
	position: fixed; 
	bottom: 45px; 
	right: 0%; 
}
#CR_crCustom{
	 
	position: fixed; 
	bottom: 45px; 
	right: 25%;
}
.crButton{
	background-color: #c0c0c0;
	width:50px;
	color: #fff;
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	padding: 5px 10px 6px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	
	/* css3 implementation :) */
	//border-radius:5px;
	//-moz-border-radius: 5px;
	//-webkit-border-radius: 5px;
	//-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	//-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	//text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	//border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.crButton:hover{
	background-color: green;
}

.crButtonSel{
	border-left:black 2px solid;
	border-top:black 2px solid;
	border-buttom:black 2px solid;
	background-color: #fff;
	padding-right: 21px;
	//background-color: #add9e4;
}

.messageBody{
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.glow:hover{
	transition: all 1s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 8px rgba(10, 10, 255, 1);
    -webkit-box-shadow: 0 0 8px rgba(10, 10, 255, 1); 
    -moz-box-shadow: 0 0 8px rgba(10, 10, 255, 1);
    border:#4EC6F6;
}

#tabs {
    float: right;
    font-weight: bold;
}

#tabs a {
    background: inherit;
    border: 1px solid #FFFFFF;
    color: #777777;
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 22px;
    margin: 8px 8px 0 0;
    padding: 0 11px;
    text-decoration: none;
}

#tabs a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #777777 #777777 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    line-height: 20px;
    margin-top: 9px;
}

#tabs a.youarehere {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #777777 #777777 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 120%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px;
}

.detail {
    border-bottom: 1px solid #666666;
    padding-bottom: 20px;
    padding-top: 20px;
}

.subheader h1, .subheader h2 {
    background-color: whiteSmoke;
    color: highlight;
    float: left;
    font-size: 170%;
    line-height: 28px;
    margin-bottom: 0;
}

#userLogin{
	//border:red 3px solid;
	width:250px;
	position:absolute;
	right:25px;
	top:inherit;
	text-align:right;
}

#desc-overlay {

	/* set it to fill the whil screen */
	width:80%; 
	height:80%;
	
	/* transparency for different browsers */
	filter:alpha(opacity=78); 
	-moz-opacity:0.78; 
	-khtml-opacity: 0.78; 
	opacity: 0.78; 
	background:#000; 

	/* make sure it appear behind the dialog box but above everything else */
	position:fixed; 
	top:10%; left:10%; 
	z-index:3000; 

	/* hide it by default */
	display:none;
	
	/* css3 drop shadow */
	 box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	
	/* css3 border radius */
	border-radius:10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#description{
	//background-color:#eee;
	//border:red 5px solid;
	//height:70%;
	width: 60%;
	position: fixed;
	top:20%;
	left:30%;
	margin:20px;
	z-index:5000; 
	/* hide it by default */
	display:none;
}

.css-vertical-text {

	writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	white-space:nowrap;
	display:block;
	bottom:0;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	//text-shadow: 0px 0px 1px #333;
}
.relShow, .assiShow, .warnShow{
	display:none;
}

.accordion {
   margin: 55%
   text-align: right;
}
.accordion dd {
     border-top: 0;
     font-size: 12px;
     margin-left: 0px;
     //height: 200px;
 }

  .accordion dt, dd {
      padding: 10px;
      border: 1px solid black;
      border-bottom: 0;
   }
.accordion dt:last-of-type, dd:last-of-type{
     border-bottom: 1px solid black;
}
  .accordion dd:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
  }
.accordion dt a {
        display: block;
        color: black;
        font-weight: bold;
        text-decoration: none;
}

.accor_shade{
background: rgb(253,253,253); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWNlZGYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjZjZmNmY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjMlIiBzdG9wLWNvbG9yPSIjZjZmN2Y4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(236,237,240,1) 0%, rgba(246,246,248,1) 43%, rgba(246,247,248,1) 63%, rgba(253,253,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(0%,rgba(236,237,240,1)), color-stop(43%,rgba(246,246,248,1)), color-stop(63%,rgba(246,247,248,1)), color-stop(100%,rgba(253,253,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(236,237,240,1) 0%,rgba(246,246,248,1) 43%,rgba(246,247,248,1) 63%,rgba(253,253,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(236,237,240,1) 0%,rgba(246,246,248,1) 43%,rgba(246,247,248,1) 63%,rgba(253,253,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(236,237,240,1) 0%,rgba(246,246,248,1) 43%,rgba(246,247,248,1) 63%,rgba(253,253,253,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(236,237,240,1) 0%,rgba(246,246,248,1) 43%,rgba(246,247,248,1) 63%,rgba(253,253,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-8 */
}

dt .crcount
{
	float: left;
	/* css3 border radius */
	color:Black;
	border:#A2A2A2 1px solid;
	font-weight:bold;
	padding:3px;
	line-height:10px;
	border-radius:10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.table-5 {
	background-color: #f5f5f5;
	padding: 5px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ebebeb;
	color:#444;
}
.table-5 td, .table-5 th {
	padding: 1px 5px;
}
.table-5 thead {
	font: normal 15px Helvetica Neue,Helvetica,sans-serif;
	text-shadow: 0 1px 0 white;
	color: #444;
}
.table-5 th {
	text-align: left;
	border-bottom: 1px solid #fff;
}
.table-5 td {
	//font-size: 14px;
	font: normal 12px Helvetica Neue,Helvetica,sans-serif;
}
.table-5 tr:hover {
	background-color: #fff;
	cursor: pointer;
}
.td_CR_style{
  
  font-stretch:wider;
  font-weight:bolder;
  font-size: 20px;
  color: #000;
  //text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(55,55,55,0.5) 0 -1px, rgba(0,0,0,0.3) -1px 2px;
}
#ErrorMsg{

	display: inline-block;
	background-color: #F9EDBE !important;
    border: 1px solid #F0C36D !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #666666 !important;
    font-weight: bold;
    padding: 9px 15px;
    
 }
 
 .setup_up
 {
	background: rgb(228,239,192); /* Old browsers */
	border: green 1px solid;
 }
 .setup_up:hover
 {
	background: rgb(228,239,192); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZWZjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmJkNzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(228,239,192,1) 0%, rgba(171,189,115,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,239,192,1)), color-stop(100%,rgba(171,189,115,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-8 */
	//cursor: pointer;
 }
.setup_down
{
	background: rgb(254,144,144); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	border: red 1px solid;
} 
 .setup_down:hover
{
	
	background: rgb(254,144,144); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlOTA5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmViYmJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZWJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY1YzVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(254,144,144,1) 0%, rgba(254,187,187,1) 0%, rgba(254,187,187,1) 1%, rgba(255,92,92,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,144,144,1)), color-stop(0%,rgba(254,187,187,1)), color-stop(1%,rgba(254,187,187,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,144,144,1) 0%,rgba(254,187,187,1) 0%,rgba(254,187,187,1) 1%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,144,144,1) 0%,rgba(254,187,187,1) 0%,rgba(254,187,187,1) 1%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,144,144,1) 0%,rgba(254,187,187,1) 0%,rgba(254,187,187,1) 1%,rgba(255,92,92,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,144,144,1) 0%,rgba(254,187,187,1) 0%,rgba(254,187,187,1) 1%,rgba(255,92,92,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9090', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-8 */
	//cursor: pointer;
}
 .setup_down .status_span{
 	//color:
 }
 .setup_div
 {
 	margin-left: 8px;
 	margin-right: 8px;
 	width: 180px; 
 	//height:500px;
 	color: black;
 	line-height: 20px;
    font-size: 12px;
    float: left;
    padding-bottom: 10px;
 }
 .hoverScroll
 {
 	overflow-y: hidden;
 }
 .hoverScroll:hover{
 	overflow-y: auto;
 }
 .setups_div
 {
 font-size:12px; 
 position:static; 
 top:130px; 
 overflow-y: hidden;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px; 
 overflow-x:hidden
 }
 .setups_div:hover
 {
 overflow-y: auto;   
 }
 
 .exclusive{
 	background: rgb(228,245,252); 
 	border: blue 1px solid;
 }
 
 .exclusive:hover{
	background: rgb(228,245,252); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWZkOGVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNiZmU4ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYWIwZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(159,216,239,1) 0%, rgba(191,232,249,1) 2%, rgba(191,232,249,1) 8%, rgba(191,232,249,1) 12%, rgba(42,176,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(0%,rgba(159,216,239,1)), color-stop(2%,rgba(191,232,249,1)), color-stop(8%,rgba(191,232,249,1)), color-stop(12%,rgba(191,232,249,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 0%,rgba(191,232,249,1) 2%,rgba(191,232,249,1) 8%,rgba(191,232,249,1) 12%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 0%,rgba(191,232,249,1) 2%,rgba(191,232,249,1) 8%,rgba(191,232,249,1) 12%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 0%,rgba(191,232,249,1) 2%,rgba(191,232,249,1) 8%,rgba(191,232,249,1) 12%,rgba(42,176,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 0%,rgba(191,232,249,1) 2%,rgba(191,232,249,1) 8%,rgba(191,232,249,1) 12%,rgba(42,176,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-8 */
	 
 }
  .yellow_Gradiant{
   background: #fceabb; /* Old browsers */
   border: yellow 1px solid;
  }
 .yellow_Gradiant:hover{

background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 100%, #fbdf93 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(100%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 100%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 100%,#fbdf93 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 100%,#fbdf93 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 100%,#fbdf93 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
 }
 .silver_Gradiant{
 background: #fcfff4; /* Old browsers */
 border: grey 1px solid;
 }
 
.silver_Gradiant:hover{
 
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
 
 }
 
 #hint{
		cursor:pointer;
	}
	

.flipMore
{
	cursor: pointer;
}

.setupUserName{
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	border: 1px solid #DCDCDC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	}
	
.li_users{
	
	display:block;
	font-family: arial,sans-serif;
	border-bottom: 1px solid transparent;
    line-height: 29px;
    opacity: 1;
    cursor: pointer;
    margin: 0px;
	padding-left: 50px;
	padding-right: 11px;
}

.li_users:hover{
	background-color: #EEEEEE;
	opacity:1;
}

#f1_container {
	
	margin: 10px auto;
	width: 250px;
	height: 181px;
	float:left;
	border: 1px solid black;
	background-color: orange;
	z-index: 1;
}

.warning{
	border:1px solid red;
	//background-color:#EFD1D1;
}
.tooltip{
	background-color: #F5F5B5;
    border: 1px solid #DECA7E;
    color: #303030;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 13px;
    position: absolute;
    text-align: center;
    z-index: 2000;
    max-width: 250px;
	}

.dataTables_wrapper{
	clear: none !important;
	margin-top: 50px !important;
}

#crvalid_filter{
	margin-top: -30px !important;
}

.bigInput{
	background: none repeat scroll 0 0 rgb(251, 251, 251);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: rgb(85, 85, 85);
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
    margin-right: 35px;
    margin-top: 5px;
    outline: 0 none;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.SimpleInput{
	background: none repeat scroll 0 0 rgb(251, 251, 251);
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 0 none;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

#TableID{
	float : left;
}

sup{
	color:red;
	font-size: 10px;
	font-weight: normal;
}

.roundedDiv{
  width: 67px;
  height: 40px;
  background-color: #FD7D05;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #009900;
  padding: 5px;
}

.dumy{
	background: #DCEBF9;
	border-width: 1px;
	border-style: solid;
    border-color: #8FA2B5;
    //color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}